@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-panel: #1a1a1a;
  --color-accent: #3b82f6;
}

/* 全局样式定义 */
body {
  @apply bg-background text-white antialiased overflow-hidden m-0 p-0;
  min-height: 100vh;
}
